<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/index.css">
    <title>Home</title>
</head>
<body>

<nav class="nav">
    <a class="nav-link active" href="/">Home</a>
    <a class="nav-link" href="/products">Product List</a>
    <a class="nav-link" href="/orders">Order List</a>
    <a class="nav-link" id="auth-link" href="/login">Login</a>
</nav>

<main>
    <p>Main</p>
</main>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const authLink = document.getElementById("auth-link");

        fetch("/auth/check")
            .then(response => {
                if (response.ok) {
                    authLink.textContent = "Logout";
                    authLink.href = "#";
                    authLink.addEventListener("click", function (event) {
                        event.preventDefault();
                        fetch("/auth/logout", { method: "POST" })
                            .then(response => {
                                if (response.ok) {
                                    alert("You have been logged out.");
                                    window.location.reload();
                                } else {
                                    alert("Failed to logout.");
                                }
                            })
                            .catch(error => console.error("Logout error:", error));
                    });
                }
            })
            .catch(error => console.error("Auth check error:", error));
    });

</script>

</body>
</html>
